{% extends "base.html" %}

{% block content %}
    <!-- Charitable actions page -->
    <section id="chariable-acts-container">
        <!-- heading -->
        <h2>UN Goals</h2>
        <!-- topic wrap -->
        <!-- goals cited from: https://sdgs.un.org/goals -->
        <div class="chariable-acts-wrap">
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">1</span>
                    <br />
                    <span class="related-topics" href="#">No Poverty</span>
                    <p>The Goal to end poverty in all its forms everywhere in the world.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">2</span>
                    <br />
                    <span class="related-topics">Zero Hunger</span>
                    <p>End hunger, achieve food security and improved nutrition and promote sustainable agriculture.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">3</span>
                    <br />
                    <span class="related-topics">Good health and well-being</span>
                    <p>Ensure healthy lives and promote well-being for all at all ages.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">4</span>
                    <br />
                    <span class="related-topics">Quality eduction</span>
                    <p>Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">5</span>
                    <br />
                    <span class="related-topics">Gender Equality</span>
                    <p>Achieve gender equality and empower all women and girls.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">6</span>
                    <br />
                    <span class="related-topics">Clean water and sanitation</span>
                    <p>Ensure availability and sustainable management for water and sanitation for all.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">7</span>
                    <br />
                    <span class="related-topics">Affordable and clean energy</span>
                    <p>Ensure access to affordable, reliable, sustainable and modern energy for all.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">8</span>
                    <br />
                    <span class="related-topics">Decent work and economic growth</span>
                    <p>Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">9</span>
                    <br />
                    <span class="related-topics">Industry, innovation and infrastructure</span>
                    <p>Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">10</span>
                    <br />
                    <span class="related-topics">Reduced inequalities</span>
                    <p>Reduce inequality within and among countries.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">11</span>
                    <br />
                    <span class="related-topics">Sustainable cities and communities</span>
                    <p>Make cities and human settlements inclusive, safe, resilient and sustainable.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">12</span>
                    <br />
                    <span class="related-topics">Responsible consumption and production</span>
                    <p>Ensure sustainable consumption and production patterns</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">13</span>
                    <br />
                    <span class="related-topics">Climate action</span>
                    <p>Take urgent action to combat climate change and its impacts.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">14</span>
                    <br />
                    <span class="related-topics">Life below water</span>
                    <p>Conserve and sustainably use oceans, seas and marine resources for sustainable development.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">15</span>
                    <br />
                    <span class="related-topics">Life on land</span>
                    <p>Protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests combat desertification, and halt and reverse land degradation and halt biodiversity loss.</p>
                </a>
            </div>
            <!-- topic -->
            <div class="chariable-acts-tab">
                <a class="chariable-acts-tab-a">
                    <span class="related-goals-num">16</span>
                    <br />
                    <span class="related-topics">Peace, justice and strong institutions</span>
                    <p>Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels.</p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}